/* FONTS */
/* livvic-regular - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - latin */
@font-face {
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url('../fonts/livvic-v13-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - latin */
@font-face {
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('../fonts/livvic-v13-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* ROOT */
:root{
    --hero-bg-color: #014E56;
    --build-bg-color: #012F34;
    --deliver-bg-color: #004047;
    --article-bg-color: #F67E7E;
    --footer-bg-color: #002529;
    --main-text-color: #fff;
    --deliver-text-color: #79C8C7;
    --meet-bg-color: #004047;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic" ,"Arial", sans-serif;
    font-weight: 600;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/****************** Header styles start *****************/
.site-header{
    padding-top: 73px;
    padding-bottom: 129px;
    background-color: var(--hero-bg-color);
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.site-header__logo{
    color: var(--main-text-color);
}

.site-nav__list{
    display: flex;
}

.site-nav__item:first-child{
    margin-right: 40px;
}

.site-nav__link{
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.site-nav__link:active{
    color: var(--article-bg-color);
}

.site-header__btn{
    padding-top: 11px;
    padding-right: 33px;
    padding-bottom: 11px;
    padding-left: 32px;
    border: 2px solid var(--main-text-color);
    border-radius: 24px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.site-header__btn:active{
    background-color: var(--main-text-color);
    color: var(--footer-bg-color);
}
/****************** Header styles end *****************/

/****************** Main styles start *****************/

/* Hero section styles start */
.hero-section{
    padding-bottom: 250px;
    background-image: url("../images/disk-left.svg"), url("../images/disk-bottom.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 770px) top, calc(50% + 400px) calc(50% + 230px);
    background-color: var(--hero-bg-color);
}

.hero-section__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-section__title{
    width: 600px;
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: var(--main-text-color);
}

.hero-section__title-talent{
    color: var(--article-bg-color);
}

.hero-section__desc{
    width: 445px;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.hero-section__desc::before{
    display: block;
    width: 50px;
    margin-bottom: 79px;
    height: 4px;
    background-color: var(--deliver-text-color);
    content: "";
}
/* Hero section styles end */

/* Build section styles start */
.build-section{
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url("../images/right-circle.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 760px) bottom;
    background-color: var(--build-bg-color);
}

.build-section__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.build-section__title{
    width: 455px;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}

.build-section__title::before{
    display: block;
    width: 50px;
    height: 4px;
    margin-bottom: 54px;
    background-color: var(--article-bg-color);
    content: "";
}

.build-section__list{
    width: 540px;
    margin-top: 54px;
}

.build-section__item{
    position: relative;
    margin-bottom: 32px;
    padding-left: 95px;
}

.build-section__item:last-child{
    margin-bottom: 0;
}

.build-section__item::before{
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 72px;
    height: 72px;
    padding-right: 72px; 
    margin-right: 23px;
    background-image: url("../images/user.svg");
    background-repeat: no-repeat;
    background-position: left center;
    content: "";
}

.build-section__item:nth-child(2)::before{
    background-image: url("../images/settings.svg");
}

.build-section__item:nth-child(3)::before{
    background-image: url("../images/grafic.svg");
}

.build-section__item-title{
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--article-bg-color);    
}

.build-section__item-desc{
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    opacity: 0.8;
}
/* Build section styles end */


/* Deliver section styles start */
.deliver-section {
    padding-top: 140px;
    padding-bottom: 151px;
    background-image: url("../images/deliver-right-bg.png"),
    url("../images/rigth-bottom-bg.svg");
    background-position: calc(50% - 685px) calc(50% - 333px), calc(50% + 660px) calc(50% + 382px);
    background-repeat: no-repeat;
    background-color: #004047;
}

.deliver-section__title {
    width: 932px;
    margin: 0 auto;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.deliver-section__title-span {
    color: var(--deliver-text-color);
}

.deliver-section__list {
    display: flex;
    justify-content: space-between;
}
.deliver-section__item {
    width: 350px;
    padding-top: 36px;
    background-image: url("../images/quotu.svg");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.deliver-section__desc {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}

.deliver-section__user-name {
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--deliver-text-color);
}

.deliver-section__job-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 18px;
    color: var(--main-text-color);
}
/* Deliver section styles end */

/********READY SECTION STERT********/
.ready_section{
    padding-top: 76px;
    padding-bottom: 76px;
    background:var(--article-bg-color);
    background-image: url('../images/left-bottom-bg.svg');
    background-repeat: no-repeat;
    background-position: calc(50% - 660px) calc(50% + 82px)
}

.ready_section_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ready_section_text{
    width: 504px;
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    color: var(--build-bg-color);
    margin: 0;
}

.redy-section_contacts_btn{
    border: 2px solid var(--deliver-bg-color);
    border-radius: 24px;
    color: var(--deliver-bg-color);
    padding: 11px 33px 11px 32px;
}

.redy-section_contacts_btn:active{
    background-color: var(--build-bg-color);
    color: var(--main-text-color);
}

/********* READY SECTION RESPONSIVE START**************/

@media only screen and (max-width: 768px) {
    .ready_section {
        /* width: 200px2x;  */
        background-image: url('../images/left-bottom-bg.svg');
        background-repeat: no-repeat;
        background-position: calc(50% - 285px) calc(50% + 105px);
        padding: 83px 0;
    }
    .ready_section_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .ready_section_text{
        max-width: 336px;
        width: 100%;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        margin-right: 84px;
        
        
    }
    
    .redy-section_contacts_btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #012f34;
    }
}

@media only screen and (max-width: 375px) {
    .ready_section {
        /* width: 200px2x;  */
        background-image: url('../images/left-bottom-bg.svg');
        background-repeat: no-repeat;
        background-position: calc(50% - 86px) calc(50% + 158px);
        padding: 83px 0;
    }
    .ready_section_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .ready_section_text{
        max-width: 327px;
        width: 100%;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 24px;
        
        
    }
    
    .redy-section_contacts_btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #012f34;
    }
}

/**********READY SECTION RESPONSIVE END ***************/

/******** READY SECTION END********/

/* ********** SITE FOOTER STERT ************ */
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--footer-bg-color);
}
.site-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.site-footer-start {
    display: flex;
    /* align-items: center; */
}
.site-footer-start-box {
    margin-right: 125px;
}
.site-footer-logo-link {
    color: var(--main-text-color);
}
.site-footer-list {
    display: flex;
    margin: 0;
    height: 35px;
    align-items: flex-end;
}
.site-footer-item:first-child {
    margin-right: 40px;
}
.site-footer-item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
    transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.site-footer-item-link:hover {
    color: #f67e7e;
}
.site-footer-address-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
}
.site-footer-addres-item-link {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.site-footer-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.site-footer-social-list {
    display: flex;
    align-items: flex-start;
    margin: 0;
    height: 100px;
}
.site-footer-social-item:not(:first-child) {
    margin-left: 16px;
}
.site-footer-social {
    color: var(--main-text-color);
}

.site-footer-social:hover{
    color: var(--article-bg-color);
}
.site-header-addres-title {
    margin: 0;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
}
/* ********** SITE FOOTER END ************ */

/**********FOOTER RESPONSIVE STERT*********/
@media only screen and (max-width: 768px){
    .site-footer{
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .site-footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* align-items: center; */
        /* align-items: center; */
    }
    .site-footer-start {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer-social-list {
        display: flex;
        width: 104px;
        margin-right: auto;
    }
    .site-footer-list{
        margin-bottom: 33px;
    }
    .site-header-addres-title{
        width: 255px;
        margin-right: auto;
    } 
    .site-footer-logo-link{
        margin-bottom: 53px;
    }
    .site-footer-item-link {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .site-footer-address-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      
        margin: 0;
        margin-right: auto;
        gap: 10px;
        /* margin-left: 200px; */
    }
    .site-footer-start-box {
        margin-left: auto;
    }
}


@media only screen and (max-width: 375px){
    .site-footer{
        padding-top: 56px;
        padding-bottom: 56px;
    }
    .site-footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* align-items: center; */
        /* align-items: center; */
    }
    
    .site-footer-start {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .site-footer-social-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-footer-list{
        margin-bottom: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .site-header-addres-title{
        width: 255px;
    } 
    .site-footer-logo-link{
        margin-bottom: 53px;
    }
    .site-footer-item-link {
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }
    .site-footer-address-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 10px;
        /* margin-left: 200px; */
    }
    .site-footer-start-box {
        margin: 0;
    }
}
/*********FOOTER RESPONSIVE END***************/

